@use "partials/scrollbar"
@use "partials/media"
@use "partials/social"
@use "partials/technologies"
@use "partials/projects"
@use "partials/toTop"
@use "partials/quote"

:root
  --color: #8888ff
  --color-accent: #8888ff4f
  --color-bg: #333
  --color-bg-secondary: #555
  --color-link: #8888ff
  --color-secondary: #cdcdfc
  --color-secondary-accent: #e20de94f
  --color-shadow: #bbbbbb20
  --color-table: #8888ff
  --color-text: #f7f7f7
  --color-text-secondary: #aaaaaa
  --active-brightness: 0.85
  --border-radius: 5px
  --box-shadow: 2px 2px 10px
  --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif
  --hover-brightness: 1.2
  --justify-important: center
  --justify-normal: left
  --line-height: 1.5
  --width-card: 285px
  --width-card-medium: 24em
  --width-card-wide: 800px
  --width-content: 1080px

html
  scroll-behavior: smooth

body
  overflow-x: hidden

.title
  --from: #b3b3ff
  --to: #2b2ba1
  font-size: 4em
  text-decoration: none !important
  background: linear-gradient(to right, var(--from), var(--to), var(--from) 80%)
  background-position-x: 100%
  background-size: 500%
  background-clip: text
  color: transparent
  transition: .5s
  font-weight: bold
  animation: animTitle 10s infinite alternate-reverse ease-in-out
  @keyframes animTitle
    0%
      background-position: 50% 50%
    50%
      background-position-x: 60%
    100%
      background-position-x: 0%
  @media print
    background: transparent
    color: var(--from)

  span
    background: url("../image/leaves.jpg")
    background-clip: text
    color: transparent
    transition: .5s

  &.sub
    --from: black
    --to: silver

.blobContainer
  width: 100vw
  height: 110vh
  overflow: hidden
  position: absolute
  pointer-events: none
  .blob
    transition: .1s
    transition: .5s
    position: absolute
    z-index: -1
    margin: auto
    width: 100vw
    right: 0
    top: 5em
    --time: 20s
    --amount: 10
    --fill: #353569
    @include media.screen-medium
      width: 150vw
      right: -25vw

body:hover:not(:focus) .blob
  --fill: #335 !important

#home
  margin-top: -10vh
  display: flex
  flex-direction: column
  justify-content: center
  min-height: 100vh

footer
  padding-top: 0
  display: flex
  flex-direction: row
  justify-content: space-between
  .socials
    margin: 0 2em
.contact
  h3
    color: #ffffff91
    margin: 0
  ul
    padding-left: 1em
    li
      list-style: none

.warning
  color: #f78282
