@use "partials/scrollbar"
@use "partials/media"
@use "partials/social"
@use "partials/technologies"
@use "partials/projects"
@use "partials/toTop"
@use "partials/quote"
@use "partials/blob"
@import "partials/colors"

html
  scroll-behavior: smooth

body
  overflow-x: hidden

.title
  font-size: 4em
  text-decoration: none !important
  background: linear-gradient(to right, #{$titleFrom}, transparent, #{$titleTo}, transparent, #{$titleFrom})
  background-color: transparentize($titleTo, 0.5)
  background-position-x: 0%
  background-size: 500%
  background-clip: text
  color: transparent
  transition: .2s
  font-weight: bold
  animation: animTitle 20s .5s infinite alternate-reverse ease-in-out
  @keyframes animTitle
    0%
      background-position-x: 0%
    50%
      background-position-x: 100%
    100%
      background-position-x: 0%
  @media print
    background: transparent
    color: $titleFrom

  span
    background: url("../image/leaves.jpg")
    background-clip: text
    color: transparent
    transition: .5s

  &.sub
    background-color: transparentize($colorAccent, 0.5)
    font-size: 3.5em

  &:hover
    background-color: var(--color-bg-secondary)

#home
  margin-top: -5vh
  display: flex
  flex-direction: column
  justify-content: center
  min-height: 100vh
  text-align: left

  .aboutMore
    margin-top: 5em
    text-align: center

footer
  padding-top: 0
  padding-bottom: 1em
  display: flex
  flex-direction: column
  .row
    display: flex
    flex-direction: row
    justify-content: space-between
    div
      width: 33%
      &:not(.contact)
        display: flex
        flex-direction: row
        justify-content: center
        align-items: center
        &.source a
          margin-left: .5em
    @include media.screen-xsmall
      div
        width: 50%
        &.socials
          display: none
  .glory
    text-align: center
    p
      font-weight: bold
      color: var(--color-text-secondary)
      margin: 0
      padding: 0
.contact
  h3
    color: var(--color-text)
    margin: 0
    opacity: .6
  ul
    padding-left: 1em
    li
      list-style: none

.warning
  color: var(--color-warning)

section
  header
    h1
      a
        color: var(--color-text)

#home a
  text-decoration: none !important
  &:hover
    filter: none
