
.projects
  display: flex
  flex-direction: row
  flex-wrap: wrap
  min-width: 95vw
  max-height: 80vh
  transform: translateX(-50%)
  left: 50%
  position: relative
  justify-content: center
  align-items: center
  overflow-y: hidden
  overflow-x: auto
  flex: 10 0 auto

  flex-direction: column
  overflow-x: auto
  scroll-snap-type: x mandatory

  aside
    margin: 1em
    flex-shrink: 0
    height: fit-content
    scroll-snap-align: center
    flex: none
    transition: .5s
    min-width: 3em

    &:target
      animation: pulseShadow 2s infinite alternate-reverse ease-in-out
      @keyframes pulseShadow
        from
          box-shadow: 0 0 .2em var(--color)
        to
          box-shadow: 0 0 1em var(--color)

    .tags
      display: flex
      flex-direction: row
      width: auto
      flex-wrap: wrap
      justify-content: center

      span
        font-size: .8em
        padding: .3em
        margin: .2em
        border-radius: .5em
        background: var(--color-secondary)
        color: black
        white-space: nowrap

    .meta, .tags
      margin-top: 1em

    .meta
      display: flex
      flex-direction: row
      justify-content: space-between
      .data
        font-size: .9em
        margin: 0 .2em
        position: relative

        &::before
          font-family: "Font Awesome 6 Free"
          font-weight: 600
          margin-right: .2em

        &.license::before
          content: "\f24e"
        &.stars::before
          content: "\f005"
        &.forks::before
          content: "\e13b"

        &.language
          display: flex
          flex-direction: row
          align-items: center
          margin-right: .8em
          .languageColor
            width: 1.2em
            height: 1.2em
            background: var(--lang-color)
            border-radius: 50%
            margin-right: .2em

    .dates
      margin-top: .5em
      display: flex
      flex-direction: row
      justify-content: space-between
      align-items: center
      span
        width: .3em
        height: .3em
        background: var(--color)
        border-radius: 50%

      small
        text-shadow: none
      
    .homepage
      position: relative
      a
        white-space: nowrap
        overflow: hidden
        text-overflow: ellipsis
        width: 100%

.updateStatus
  span
    text-shadow: 0 0 .3em var(--color)
