@use "icons"

.technologies
  display: flex
  flex-direction: row
  flex-wrap: wrap
  align-content: center
  justify-content: center
  padding: 0 !important

  &-cell
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
    width: 7em
    height: 7em
    list-style: none
    position: relative
    margin: 1.5em
    padding: .5em
    border-radius: 50%
    -webkit-tap-highlight-color: transparent
    cursor: help !important

    // --balloon-font-size: .75em
    --balloon-font-size: var(--color)

    &:not(.placeholder)
      background: var(--color-bg-secondary)

    &::before
      bottom: 125% !important
    &::after
      bottom: 125% !important

    &__title
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      background: var(--color)
      padding: .2em .5em
      width: 100%
      transition: .5s cubic-bezier(.33,.6,.08,1.47)
      color: var(--color-text)
      text-decoration: none !important
      border-radius: var(--border-radius)

      &::before
        @include icons.fa("\f35d")
        position: absolute
        right: .5em
        color: var(--color-text)

    &:hover &__title, &__title:focus
      transform: translate(-50%, -50%) translateY(-5.1em)

    &__img
      max-width: 80%

    &.php &__img
      max-width: 100%
    &.javascript &__img
      max-width: 5em
    &.typescript &__img
      max-width: 5em
    &.karax &__img
      max-width: 5em
    &.puppeteer &__img
      max-width: 4em
    &.fish &__img
      max-width: 90%
